.headclass {


    width: 100%;

    height: 600px;

    background-color: gray;

    background-image: url(img/luxury.png);

    background-size: cover;

}



.cover {

    width: 100%;

    height: 600px;

    background-color: rgba(0, 0, 0, 0.6)
}